.aside{
  min-width: $aside-width;
  background-color: $color-background;
  box-shadow: 7px 0px 27px 0px rgba(102, 173, 195, 0.26);
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  @include media-tablet {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    transition: 0.5s;
    transform: translateX(-100%);
    z-index: 99;
  }
}

.aside.active{
  transform: translateX(0%);
}

.aside__title {
  padding: 21px 0 74px;
  text-align: center;
}

.nav__wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding-left: 31px;
  a {
    @include font($size: 2.4rem, $height: 5.7rem, $weight: 300);
    color: $color-text;
    &:hover {
      color: $color-hover-text;
      @extend %transition;
    }
  }
}

#nav__categories {
  display: none;
  flex-direction: column;
  margin-left: 50px;
  font-size: 2.0rem;
  line-height: 3.7rem;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  padding-left: 31px;
}

.github-title, .rs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rs {
  gap: 12px;
  padding-top: 27px;
  padding-left: 14px;
  @include media-tablet {
    display: none;
  }
}

.github-links {
  display: flex;
  flex-direction: column;
  gap: 3px;
  a {
    color: $color-text;
    @include font($size: 1.7rem, $weight: 300);
    &:hover {
      color: $color-hover-text;
      @extend %transition;
    }
  }
}

.block {
  display: flex;
  align-items: center;
  @include media-tablet {
    display: none;
  }
}
