#registr-form > input{
  margin-bottom: 27px;
}

#regist-form-btn{
  background: rgba(135, 207, 101, 1);
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 17.5px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(75, 199, 226, 0.25);
  margin-bottom: 18px;
  cursor: pointer;
}