$color-background: rgb(247, 250, 255);
$color-text: rgb(0, 0, 0);
$color-hover-text: rgb(128, 189, 223);
$color-search: rgb(156, 156, 156);

$content-width: 1440px;
$tablet-width: 640px;
$mobile-width: 320px;

$aside-width: 248px;
